@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&family=Roboto:ital@0;1&display=swap');


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: bolder;
    font-size: 18px;
    min-height: 100vh;
}

.menu {
    display: flex;
    justify-content: end;
}

footer {
    background-color: lightgrey;
    margin-bottom: 0;
    margin-top: 2em;
}


.redes {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.direccion {
    font-size: 14px;
    color: black;
    padding: 15px 15px 0px 15px;
}

.img-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img-inicio{
    width: 30em;
}

.filtros{
    background-color: red;
}